.box{
    width:50% ;
    margin:1px auto ;
    background-color:rgb(255, 246, 120) ;
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr;
    aspect-ratio: 1/1;
    gap:1%;
}
.box > * {
   background-color: rgb(91, 10, 99);
   border-radius: 15px;
   text-align: center;
   color:aliceblue;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 600;
cursor: pointer;
}
.box > * :hover {
    background-color: brown;
}
.satr2{
    grid-column: 1/1;
    grid-row: 1/4;
}
.satr3{
    grid-column: 3/4;
    grid-row: 1/3
    /*grid-row: -1/1; */
}